{% extends "base.html" %}
{% block title %}Projetos C | Portfólio{% endblock %}

{% block content %}
<section class="page-header fade-in">
    <img src="{{ url_for('static', filename='images/projetos.png') }}" class="icon">
    <h1>Projetos C</h1>
</section>

<section class="projects">

    <div class="project-card slide-up">
        <h2>API de Reconhecimento Facial</h2>

        <video controls>
            <source src="{{ url_for('static', filename='videos/projeto1.mp4') }}" type="video/mp4">
        </video>

        <a href="#" target="_blank">🔗 Ver projeto</a>
    </div>

    <div class="project-card slide-up">
        <h2>Chatbot com NLP</h2>

        <video controls>
            <source src="{{ url_for('static', filename='videos/projeto2.mp4') }}" type="video/mp4">
        </video>

        <a href="#" target="_blank">🔗 Ver projeto</a>
    </div>

</section>
{% endblock %}
